body{
    background-image: url(https://media.istockphoto.com/id/1353874144/photo/astronaut-in-outer-space-spaceman-with-starry-and-galactic-background-sci-fi-digital-wallpaper.jpg?b=1&s=170667a&w=0&k=20&c=LRMYAkYVE3Jgjbg0YuYN1VRm9LFvys1eecZNTH2cTGg=);
    background-repeat: no-repeat;
    background-size: cover;
    height: auto;
    width: auto;
    margin-bottom: 20px;
    
}
.mainheading{
    color: white;
    padding: auto;
    margin-top: 15px;
    cursor: pointer;
}

.main-search{
    margin:20px;
    text-align: center;
    padding: 5px;
    cursor: pointer;
}
.searchbox{
    height: auto;
    width: auto;
    border: 2px;
    margin-top:4px;
    border-radius:5px;
}
.searchbtn{
    height: auto;
    width: auto;
    background-color: green;
    color: white;
    border-radius:5px;
    margin: 10px;
    cursor: pointer;
}

.nav-item{
    color: white;
    padding: 5px;
    margin: 4px;
    height: auto;
    width: auto;
    border: 2px ;
    border-color: aliceblue;
    cursor: pointer;
}

.nav-link{
    color: white;
    padding: 5px;
    margin: 4px;
    height: auto;
    width: auto;
    border: 2px ;
    border-color: aliceblue;
    cursor: pointer;
}
.nav-link:hover{
    color: yellow;
    background-color: white;
}
.navbar-section{
    background-color: black;
    opacity: 0.5;
}
.navbar-toggler{
    background-color: white;
}
.navbar-list{
    background-color: grey;
    text-align: center;
    margin-left: 30px;
    margin-right: 30px;
    cursor: pointer;
}

.nav-items{
    height: auto;
    width: auto;
    padding: 5px;
    margin: 4px;
    color: white;
    opacity: 0.8;
    font-size: 15px;
    list-style: none;
    border-right:2px solid;
    border-color: white;
    word-spacing: 10px;
    cursor: pointer;
    cursor: pointer;
}

.nav-items:hover{
    color: green;
    background-color: wheat;
}
.historic{
   background-image: url(https://www.nasa.gov/sites/default/files/styles/1x1_cardfeed/public/thumbnails/image/nhq_2022_tyn_1223_thumb.png);
   height: 500px;
   width: 50%;
   background-size: cover;
   background-repeat: no-repeat;
}
.historic:hover{
    opacity: 0.5;
}

.Spacewalkers{
    background-image: url(https://www.nasa.gov/sites/default/files/styles/1x1_cardfeed/public/thumbnails/image/iss068e031766_122222.jpeg);
    height: 500px;
    width: 25%;
    background-size:cover;
    background-repeat:no-repeat;
    border: 0px solid;
    margin-left: 10px;
}
.Spacewalkers:hover{
    opacity: 0.5;
}
.nasaEvents{
    height: 500px;
    width:25%;
    background-color: lightblue;
    border: 0px solid;
    margin-left: 10px;
    font-size: 10px;
    color: white;
    font-weight: bold;
    padding: 5px;
    cursor: pointer;
}
.hubble{
    background-image: url(https://www.nasa.gov/sites/default/files/styles/2x1_cardfeed/public/thumbnails/image/28223588012_33c7051b12_o.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 250px;
    width: 50%;
    margin: 10px;
    cursor: pointer;
}
.hubble:hover{
    opacity: 0.5;
}
.wise{
    background-image: url(https://www.nasa.gov/sites/default/files/styles/1x1_cardfeed/public/thumbnails/image/1_pia25253-neo-1041.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 250px;
    width: 50%;
    margin: 10px;
    cursor: pointer;
}
.wise:hover{
    opacity: 0.5;
}

.marsRover{
    background-image: url(https://www.nasa.gov/sites/default/files/styles/1x1_cardfeed/public/thumbnails/image/1-pia25652-figure-a-stretched-cropped-1041.jpg);
    height: 250px;
    width: 50%;
    margin: 10px;
    background-repeat:no-repeat;
    background-size:cover;
    cursor: pointer;
}
.marsRover:hover{
    opacity: 0.5;
}

.contenthead{
    height: auto;
    width: 30%;
    font-weight: bold;
    color: white;
    border: 0px solid;
    background-color: lightblue;
    text-align: center;
    border-top-left-radius:10px;
    border-top-right-radius:10px;
}

.fottermore{
    background-color: lightblue;
    color: white;
    font-weight: bold;
    height: 40px;
    padding: 5px;
    text-align: center;
    cursor: pointer;
}

.fottermore:hover{
    opacity: 0.5;
    color: black;
}
.fotternasa{
    padding: 10px;
    margin: 20px;
}
.fotter-item{
    list-style: none;
    font-weight: bold;
    font-size: 20px;
    padding: 5px;
    margin: 5px;
    cursor: pointer;
}
.fotter-item:hover{
    color: aliceblue;
}